@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public/Main_background_3.png");
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  display: none;
  background: #5555559e;
}

::-webkit-scrollbar-thumb {
  background: #3a353580;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
